<section id="portfolio" class="section bg-light-5">
  <div class="container">
    <div class="row text-center mb-4">
      <div class="col">
        <div class="overflow-hidden">
          <span class="d-block top-sub-title text-color-primary appear-animation" data-appear-animation="maskUp">RECENT PROJECTS</span>
        </div>
        <div class="overflow-hidden mb-2">
          <h2 class="font-weight-bold mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Our Portfolio</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
      <div class="col">
        <ul id="portfolioLoadMoreFilter" class="nav sort-source justify-content-center mb-4 mb-md-0" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
          <li class="nav-item" data-option-value="*"><a class="nav-link active" href="#">SHOW ALL</a></li>

          <li class="nav-item" data-option-value=".brands"><a class="nav-link text-uppercase" href="#">brands</a></li>

          <li class="nav-item" data-option-value=".design"><a class="nav-link text-uppercase" href="#">design</a></li>

          <li class="nav-item" data-option-value=".web"><a class="nav-link text-uppercase" href="#">web</a></li>

          <li class="nav-item" data-option-value=".ads"><a class="nav-link text-uppercase" href="#">ads</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="sort-destination-loader sort-destination-loader-showing mb-4">
          <div id="portfolioLoadMoreWrapper" class="portfolio-list portfolio-list-style-2 sort-destination" data-sort-id="portfolio" data-total-pages="3">

            <div class="col-md-6 col-lg-4 p-0 isotope-item mb-3 brands">
              <div class="portfolio-item hover-effect-3d text-center appear-animation" data-appear-animation="fadeInUpShorter" data-plugin-options="{'accY' : -50}">
                <a href="portfolio-detail-1.html">
                  <span class="image-frame image-frame-style-1 image-frame-effect-1 mb-3">
                    <span class="image-frame-wrapper">
                      <img src="../assets/img/projects/generic/project-1.jpg" class="img-fluid" alt="">
                      <span class="image-frame-inner-border"></span>
                      <span class="image-frame-action">
                        <span class="image-frame-action-icon">
                          <i class="lnr lnr-link text-color-light"></i>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
                <h2 class="font-weight-bold text-4 mb-0">EZ Card</h2>
                <span class="text-uppercase">brands</span>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 p-0 isotope-item mb-3 design">
              <div class="portfolio-item hover-effect-3d text-center appear-animation" data-appear-animation="fadeInUpShorter" data-plugin-options="{'accY' : -50}">
                <a href="portfolio-detail-1.html">
                  <span class="image-frame image-frame-style-1 image-frame-effect-1 mb-3">
                    <span class="image-frame-wrapper">
                      <img src="../assets/img/projects/photos/project-2.jpg" class="img-fluid" alt="">
                      <span class="image-frame-inner-border"></span>
                      <span class="image-frame-action">
                        <span class="image-frame-action-icon">
                          <i class="lnr lnr-link text-color-light"></i>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
                <h2 class="font-weight-bold text-4 mb-0">Fashion Model</h2>
                <span class="text-uppercase">design</span>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 p-0 isotope-item mb-3 web">
              <div class="portfolio-item hover-effect-3d text-center appear-animation" data-appear-animation="fadeInUpShorter" data-plugin-options="{'accY' : -50}">
                <a href="portfolio-detail-1.html">
                  <span class="image-frame image-frame-style-1 image-frame-effect-1 mb-3">
                    <span class="image-frame-wrapper">
                      <img src="../assets/img/projects/generic/project-3.jpg" class="img-fluid" alt="">
                      <span class="image-frame-inner-border"></span>
                      <span class="image-frame-action">
                        <span class="image-frame-action-icon">
                          <i class="lnr lnr-link text-color-light"></i>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
                <h2 class="font-weight-bold text-4 mb-0">Style Bag</h2>
                <span class="text-uppercase">web</span>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 p-0 isotope-item mb-3 web">
              <div class="portfolio-item hover-effect-3d text-center appear-animation" data-appear-animation="fadeInUpShorter" data-plugin-options="{'accY' : -50}">
                <a href="portfolio-detail-1.html">
                  <span class="image-frame image-frame-style-1 image-frame-effect-1 mb-3">
                    <span class="image-frame-wrapper">
                      <img src="../assets/img/projects/photos/project-3.jpg" class="img-fluid" alt="">
                      <span class="image-frame-inner-border"></span>
                      <span class="image-frame-action">
                        <span class="image-frame-action-icon">
                          <i class="lnr lnr-link text-color-light"></i>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
                <h2 class="font-weight-bold text-4 mb-0">Shoes EZ</h2>
                <span class="text-uppercase">web</span>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 p-0 isotope-item mb-3 ads">
              <div class="portfolio-item hover-effect-3d text-center appear-animation" data-appear-animation="fadeInUpShorter" data-plugin-options="{'accY' : -50}">
                <a href="portfolio-detail-1.html">
                  <span class="image-frame image-frame-style-1 image-frame-effect-1 mb-3">
                    <span class="image-frame-wrapper">
                      <img src="../assets/img/projects/generic/project-4.jpg" class="img-fluid" alt="">
                      <span class="image-frame-inner-border"></span>
                      <span class="image-frame-action">
                        <span class="image-frame-action-icon">
                          <i class="lnr lnr-link text-color-light"></i>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
                <h2 class="font-weight-bold text-4 mb-0">Sport Watch</h2>
                <span class="text-uppercase">ads</span>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 p-0 isotope-item mb-3 design">
              <div class="portfolio-item hover-effect-3d text-center appear-animation" data-appear-animation="fadeInUpShorter" data-plugin-options="{'accY' : -50}">
                <a href="portfolio-detail-1.html">
                  <span class="image-frame image-frame-style-1 image-frame-effect-1 mb-3">
                    <span class="image-frame-wrapper">
                      <img src="../assets/img/projects/photos/project-6.jpg" class="img-fluid" alt="">
                      <span class="image-frame-inner-border"></span>
                      <span class="image-frame-action">
                        <span class="image-frame-action-icon">
                          <i class="lnr lnr-link text-color-light"></i>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
                <h2 class="font-weight-bold text-4 mb-0">Tattoo Show</h2>
                <span class="text-uppercase">design</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div id="portfolioLoadMoreLoader" class="portfolio-load-more-loader">
          <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>

        <button id="portfolioLoadMore" type="button" class="btn btn-primary btn-rounded btn-wide-5 btn-icon-effect-2 outline-none font-weight-semibold mt-5 text-0">
          <span>LOAD MORE</span>
          <i class="fas fa-ellipsis-h"></i>
        </button>
      </div>
    </div>
  </div>
</section>
