<div class="section bg-light-5">
  <div class="container-fluid">
    <div class="row">
<div class="col-9 col-md-12 mx-auto double-carousel double-carousel-style-1" data-plugin-double-carousel data-plugin-options="{'autoplay': false, 'responsive': { '0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1, 'dotsEach': 3}, '979': {'items': 2}, '1199': {'items': 3}}}">
        <div class="nav bg-light-5">
          <div class="title-left">
            <span>TESTIMONIALS <span>&</span></span>
          </div>
          <div class="title-right">
            <span>PARTNERS</span>
          </div>
          <div class="arrows">
            <div class="arrow-left">
              <i class="fas fa-angle-left"></i>
            </div>
            <div class="arrow-right">
              <i class="fas fa-angle-right"></i>
            </div>
          </div>
        </div>
        <div class="wrapper-left appear-animation" data-appear-animation="doubleCarouselFadeInRight">
          <div class="owl-carousel owl">
            <div>
              <div class="testimonial testimonial-style-3">
                <div class="card rounded border-0">
                  <div class="card-body p-4">
                    <div class="mb-1 text-primary">
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </div>
                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus.</p>
                    <strong class="text-color-dark">John Doe</strong>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="testimonial testimonial-style-3">
                <div class="card rounded border-0">
                  <div class="card-body p-4">
                    <div class="mb-1 text-primary">
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </div>
                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <strong class="text-color-dark">Bob Doe</strong>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="testimonial testimonial-style-3">
                <div class="card rounded border-0">
                  <div class="card-body p-4">
                    <div class="mb-1 text-primary">
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </div>
                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus.</p>
                    <strong class="text-color-dark">Monica Doe</strong>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="testimonial testimonial-style-3">
                <div class="card rounded border-0">
                  <div class="card-body p-4">
                    <div class="mb-1 text-primary">
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </div>
                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <strong class="text-color-dark">Greg Doe</strong>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="testimonial testimonial-style-3">
                <div class="card rounded border-0">
                  <div class="card-body p-4">
                    <div class="mb-1 text-primary">
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </div>
                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus.</p>
                    <strong class="text-color-dark">Robert Doe</strong>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="testimonial testimonial-style-3">
                <div class="card rounded border-0">
                  <div class="card-body p-4">
                    <div class="mb-1 text-primary">
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </div>
                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <strong class="text-color-dark">Greg Doe</strong>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="testimonial testimonial-style-3">
                <div class="card rounded border-0">
                  <div class="card-body p-4">
                    <div class="mb-1 text-primary">
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </div>
                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus.</p>
                    <strong class="text-color-dark">Robert Doe</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper-right appear-animation" data-appear-animation="doubleCarouselFadeInLeft">
          <div class="owl-carousel owl">
            <div>
              <div class="card card-logo rounded border-0">
                <div class="card-body p-0">
                  <img src="../assets/img/logos/logo-2.png" class="img-fluid" alt="" />
                </div>
              </div>
            </div>
            <div>
              <div class="card card-logo rounded border-0">
                <div class="card-body p-0">
                  <img src="../assets/img/logos/logo-3.png" class="img-fluid" alt="" />
                </div>
              </div>
            </div>
            <div>
              <div class="card card-logo rounded border-0">
                <div class="card-body p-0">
                  <img src="../assets/img/logos/logo-5.png" class="img-fluid" alt="" />
                </div>
              </div>
            </div>
            <div>
              <div class="card card-logo rounded border-0">
                <div class="card-body p-0">
                  <img src="../assets/img/logos/logo-6.png" class="img-fluid" alt="" />
                </div>
              </div>
            </div>
            <div>
              <div class="card card-logo rounded border-0">
                <div class="card-body p-0">
                  <img src="../assets/img/logos/logo-7.png" class="img-fluid" alt="" />
                </div>
              </div>
            </div>
            <div>
              <div class="card card-logo rounded border-0">
                <div class="card-body p-0">
                  <img src="../assets/img/logos/logo-8.png" class="img-fluid" alt="" />
                </div>
              </div>
            </div>
            <div>
              <div class="card card-logo rounded border-0">
                <div class="card-body p-0">
                  <img src="../assets/img/logos/logo-9.png" class="img-fluid" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
