<section class="section call-to-action bg-primary call-to-action-text-light call-to-action-text-background">
  <span class="text-background text-color-light font-primary font-weight-bold appear-animation" data-appear-animation="textBgFadeInUp" data-appear-animation-delay="800">IT'S EASY</span>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-9">
        <div class="call-to-action-content text-center text-lg-left appear-animation" data-appear-animation="fadeInLeftShorter">
          <h2 class="font-weight-semibold">Discover EZY. It's easier than you think.</h2>
          <p class="font-weight-light mb-0">Start right now to create an amazing website.</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="call-to-action-btn appear-animation" data-appear-animation="fadeInRightShorter">
          <a href="https://themeforest.net/item/ezy-responsive-multipurpose-html5-template/21814871" target="_blank" class="btn btn-light btn-outline btn-rounded font-weight-semibold btn-h-3 btn-v-3 text-0">BUY EZY NOW <strong class="font-weight-semibold">$16</strong></a>
        </div>
      </div>
    </div>
  </div>
</section>
