<section id="services" class="section">
    <div class="container-fluid">
      <div class="row text-center mb-5">
        <div class="col">
          <div class="overflow-hidden">
            <span class="d-block top-sub-title text-color-primary appear-animation" data-appear-animation="maskUp">HOW CAN WE HELP YOU</span>
          </div>
          <div class="overflow-hidden mb-2">
            <h2 class="font-weight-bold mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Our Services</h2>
          </div>
        </div>
      </div>
      <div class="row appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
        <div class="col-lg-6 col-xl-8 p-0">
          <div class="content-grid">
            <div class="row content-grid-row border border-left-0 border-right-0">
              <div class="content-grid-item col-md-6 col-lg-12 col-xl-6 p-5">
                <div class="icon-box icon-box-style-7">
                  <div class="icon-box-icon border-0">
                    <i class="lnr lnr-tag text-color-primary text-10"></i>
                  </div>
                  <div class="icon-box-info">
                    <div class="icon-box-info-title">
                      <h2 class="text-4">Brand Solutions</h2>
                    </div>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                  </div>
                </div>
              </div>
              <div class="content-grid-item col-md-6 col-lg-12 col-xl-6 p-5">
                <div class="icon-box icon-box-style-7">
                  <div class="icon-box-icon border-0">
                    <i class="lnr lnr-tablet text-color-primary text-10"></i>
                  </div>
                  <div class="icon-box-info">
                    <div class="icon-box-info-title">
                      <h2 class="text-4">Mobile Apps</h2>
                    </div>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                  </div>
                </div>
              </div>
              <div class="content-grid-item col-md-6 col-lg-12 col-xl-6 p-5">
                <div class="icon-box icon-box-style-7">
                  <div class="icon-box-icon border-0">
                    <i class="lnr lnr-magnifier text-color-primary text-10"></i>
                  </div>
                  <div class="icon-box-info">
                    <div class="icon-box-info-title">
                      <h2 class="text-4">SEO Optimization</h2>
                    </div>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                  </div>
                </div>
              </div>
              <div class="content-grid-item col-md-6 col-lg-12 col-xl-6 p-5">
                <div class="icon-box icon-box-style-7">
                  <div class="icon-box-icon border-0">
                    <i class="lnr lnr-screen text-color-primary text-10"></i>
                  </div>
                  <div class="icon-box-info">
                    <div class="icon-box-info-title">
                      <h2 class="text-4">Exclusive Websites</h2>
                    </div>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4 min-height-300" data-plugin-image-background data-plugin-options="{'imageUrl': '../assets/img/generic/generic-1.jpg'}"></div>
      </div>
    </div>
  </section>
