<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.7" data-plugin-revolution-slider
  data-plugin-options="{'delay': 9000, 'sliderLayout': 'fullscreen', 'gridwidth': [1140,960,720,540], 'gridheight': [900,900,900,900], 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,576], 'navigation' : {'arrows': { 'enable': true, 'hide_under': 767, 'style': 'slider-arrows-style-1' }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 190, 'h_offset': 0}}}">
  <ul>
    <li data-transition="fade">
      <img src="/assets/img/slides/one-page/slide-1-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
        data-bgrepeat="no-repeat" data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone"
        data-scalestart="110" data-scaleend="100" data-offsetstart="250 100" class="rev-slidebg">

      <div class="tp-caption text-color-light font-primary font-weight-bold" data-x="center"
        data-hoffset="['5','5','5','5']" data-y="top" data-voffset="80" data-start="1400"
        data-fontsize="['100','100','100','100']" data-lineheight="['105','105','105','105']"
        data-transform_in="x:[-50%];opacity:0;s:500;" data-transform_out="x:[-50%];opacity:0;s:500;">Z</div>

      <div class="tp-caption text-color-light font-primary font-weight-bold" data-x="center"
        data-hoffset="['55','55','55','55']" data-y="top" data-voffset="80" data-start="1800"
        data-fontsize="['100','100','100','100']" data-lineheight="['105','105','105','105']"
        data-transform_in="x:[-50%];opacity:0;s:500;" data-transform_out="x:[-50%];opacity:0;s:500;">Y</div>

      <div class="tp-caption bg-primary" data-x="['565','472','350','265']" data-y="top" data-voffset="60"
        data-start="1200" data-width="20" data-height="['145','145','145','145']"
        data-transform_in="x:[-50%];opacity:0;s:500;" data-transform_idle="skX:19deg"
        data-transform_out="x:[-50%];opacity:0;s:500;"></div>

      <div class="tp-caption text-color-light font-primary font-weight-bold" data-x="center"
        data-hoffset="['-50','-50','-50','-50']" data-y="top" data-voffset="80" data-start="1000"
        data-fontsize="['100','100','100','100']" data-lineheight="['105','105','105','105']"
        data-transform_in="x:[-50%];opacity:0;s:500;" data-transform_out="x:[-50%];opacity:0;s:500;">E</div>

      <div class="tp-caption text-color-light font-primary font-weight-thin"
        data-frames='[{"delay":"+1000","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
        data-x="center" data-y="center" data-voffset="-13" data-fontsize="['38','38','38','38']"
        data-lineheight="['75','75','75','75']">World-Class Technology</div>

      <div class="tp-caption text-color-light font-primary font-weight-bold letter-spacing-n6"
        data-frames='[{"delay":"+1200","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
        data-x="center" data-y="center" data-voffset="50" data-fontsize="['70','70','70','60']"
        data-lineheight="['75','75','75','65']">DIGITAL CREATIVE</div>

      <div class="tp-caption text-color-light font-primary font-weight-light"
        data-frames='[{"delay":"+1300","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
        data-x="center" data-y="center" data-voffset="105" data-fontsize="['16','16','16','16']"
        data-lineheight="['75','75','75','75']">SIMPLY THE PERFECT CHOICE FOR YOUR BRAND NEW PROJECT</div>

      <a class="tp-caption slider-scroll-button" data-hash data-hash-offset="80" href="#aboutus" data-x="center"
        data-y="bottom" data-voffset="['30','30','30','30']" data-start="1600" data-transform_in="y:[100%];s:500;"
        data-transform_out="y:[100%];opacity:0;s:500;" data-mask_in="x:0px;y:0px;"></a>

    </li>
    <li data-transition="fade">
      <img src="/assets/img/slides/one-page/slide-1-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
        data-bgrepeat="no-repeat" class="rev-slidebg">

      <div class="tp-caption text-color-light font-primary font-weight-light rs-parallaxlevel-3" data-x="center"
        data-hoffset="['-430','-430','-285','-181']" data-y="center" data-voffset="['-115','-115','-90','-80']"
        data-start="1900" data-fontsize="['14','14','14','14']" data-transform_in="opacity:0;s:300;"
        data-transform_out="opacity:0;s:300;">WHAT WE DO?</div>

      <div class="tp-caption text-color-light font-primary font-weight-bold rs-parallaxlevel-1" data-x="center"
        data-y="center" data-voffset="['-70','-70','-50','-40']" data-start="1000" data-fontsize="['65','65','45','30']"
        data-lineheight="['65','65','50','35']" data-transform_in="y:[100%];s:500;" data-transform_out="y:[100%];s:500;"
        data-mask_in="x:0px;y:0px;">We build awesome websites</div>

      <div class="tp-caption text-color-light font-primary font-weight-bold rs-parallaxlevel-2" data-x="center"
        data-y="center" data-start="1400" data-fontsize="['65','65','45','30']" data-lineheight="['65','65','50','35']"
        data-transform_in="y:[100%];s:500;" data-transform_out="y:[100%];s:500;" data-mask_in="x:0px;y:0px;">and provide
        solutions</div>

      <div class="tp-caption rs-parallaxlevel-1 border border-left-0 border-right-0 border-bottom-0 border-light"
        data-x="center" data-y="center" data-voffset="['70','70','70','55']" data-start="1800"
        data-width="['850','850','600','400']" data-transform_in="opacity:0;s:300;"
        data-transform_idle="opacity:0.4;s:300;" data-transform_out="opacity:0;s:300;"></div>

      <div class="tp-caption text-color-light font-primary font-weight-light rs-parallaxlevel-2" data-x="center"
        data-y="center" data-voffset="['120','120','120','100']" data-start="2100" data-fontsize="['30','30','30','27']"
        data-lineheight="['35','35','35','32']" data-transform_in="y:[100%];s:500;" data-transform_out="y:[100%];s:500;"
        data-mask_in="x:0px;y:0px;">Easier than you think</div>

      <a class="tp-caption btn btn-rounded btn-primary font-weight-semibold text-1" href="#aboutus" data-hash
        data-hash-offset="75" data-x="center" data-y="bottom" data-voffset="['105','105','105','105']" data-start="1600"
        data-whitespace="nowrap" data-fontsize="['13','14','14','14']" data-paddingtop="['13','14','14','14']"
        data-paddingbottom="['13','13','13','16']" data-paddingleft="['50','50','50','50']"
        data-paddingright="['50','50','50','50']" data-basealign="slide" data-transform_in="y:[-50%];opacity:0;s:500;"
        data-transform_out="y:[50%];opacity:0;s:500;">GET STARTED NOW</a>

    </li>
  </ul>
</div>