<div id="home" class="slider-container slider-container-full-height rev_slider_wrapper">
    <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.7" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'sliderLayout': 'fullscreen', 'gridwidth': [1140,960,720,540], 'gridheight': [900,900,900,900], 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,576], 'navigation' : {'arrows': { 'enable': true, 'hide_under': 767, 'style': 'slider-arrows-style-1' }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 190, 'h_offset': 0}}}">
      <ul>
          <li class="slide-overlay slide-overlay-level-9" data-transition="fade">
              <img src="../assets/img/slides/multi-purpose/slide-2-1.jpg"
                alt=""
                data-bgposition="center center"
                data-bgfit="cover"
                data-bgrepeat="no-repeat"
                class="rev-slidebg">

              <div class="tp-caption bg-primary"
                data-x="['100','23','53','53']"
                data-y="['371','371','387','397']"
                data-start="1500"
                data-width="['20','20','17','10']"
                data-height="['157','157','102','83']"
                data-transform_in="x:[-100%];opacity:0;s:500;"
                data-transform_idle="skX:19deg"
                data-transform_out="x:[-100%];opacity:0;s:500;"></div>

              <div class="tp-caption text-color-light font-primary font-weight-bold"
                data-x="center" data-hoffset="['300','300','180','98']"
                data-y="center" data-voffset="['-105','-105','-80','-80']"
                data-start="1600"
                data-fontsize="['30','30','22','22']"
                data-transform_in="opacity:0;s:300;"
                data-transform_out="opacity:0;s:300;">DIGITAL CREATIVE</div>

              <div class="tp-caption text-color-light font-weight-bold font-primary effect-text-background"
                data-x="center"
                data-y="center" data-voffset="-30"
                data-start="1000"
                data-fontsize="['125','125','80','57']"
                data-lineheight="['130','130','90','62']"
                data-transform_in="y:[-100%];opacity:0;s:500;"
                data-transform_out="opacity:0;s:500;">WEB AGENCY</div>

              <div class="tp-caption text-color-light font-primary font-weight-thin"
                data-x="center" data-hoffset="['-185','-185','-125','-50']"
                data-y="center" data-voffset="['58','58','25','18']"
                data-start="1900"
                data-fontsize="['38','38','24','24']"
                data-transform_in="y:[100%];opacity:0;s:500;"
                data-transform_out="y:[100%];opacity:0;s:500;">World-Class Technology</div>

              <a class="tp-caption btn btn-rounded btn-primary font-weight-semibold"
                href="#ourwork"
                data-hash
                data-hash-offset="90"
                data-x="center" data-hoffset="['315','315','175','0']"
                data-y="center" data-voffset="['65','65','35','150']"
                data-start="2200"
                data-whitespace="nowrap"
                data-fontsize="['13','13','13','13']"
                data-paddingtop="['13','13','10','10']"
                data-paddingbottom="['13','13','10','10']"
                data-paddingleft="['65','65','50','50']"
                data-paddingright="['65','65','50','50']"
                data-transform_in="y:[100%];s:500;"
                data-transform_out="y:[100%];opacity:0;s:500;"
                data-mask_in="x:0px;y:0px;">VIEW OUR WORK</a>

            </li>
        <li data-transition="fade">
          <img src="../assets/img/slides/one-page/slide-1-2.jpg"
            alt=""
            data-bgposition="center center"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
            class="rev-slidebg">

          <div class="tp-caption text-color-light font-primary font-weight-light rs-parallaxlevel-3"
            data-x="center" data-hoffset="['-430','-430','-285','-181']"
            data-y="center" data-voffset="['-115','-115','-90','-80']"
            data-start="1900"
            data-fontsize="['14','14','14','14']"
            data-transform_in="opacity:0;s:300;"
            data-transform_out="opacity:0;s:300;">WHAT WE DO?</div>

          <div class="tp-caption text-color-light font-primary font-weight-bold rs-parallaxlevel-1"
            data-x="center"
            data-y="center" data-voffset="['-70','-70','-50','-40']"
            data-start="1000"
            data-fontsize="['65','65','45','30']"
            data-lineheight="['65','65','50','35']"
            data-transform_in="y:[100%];s:500;"
            data-transform_out="y:[100%];s:500;"
            data-mask_in="x:0px;y:0px;">We build awesome websites</div>

          <div class="tp-caption text-color-light font-primary font-weight-bold rs-parallaxlevel-2"
            data-x="center"
            data-y="center"
            data-start="1400"
            data-fontsize="['65','65','45','30']"
            data-lineheight="['65','65','50','35']"
            data-transform_in="y:[100%];s:500;"
            data-transform_out="y:[100%];s:500;"
            data-mask_in="x:0px;y:0px;">and provide solutions</div>

          <div class="tp-caption rs-parallaxlevel-1 border border-left-0 border-right-0 border-bottom-0 border-light"
            data-x="center"
            data-y="center" data-voffset="['70','70','70','55']"
            data-start="1800"
            data-width="['850','850','600','400']"
            data-transform_in="opacity:0;s:300;"
            data-transform_idle="opacity:0.4;s:300;"
            data-transform_out="opacity:0;s:300;"></div>

          <div class="tp-caption text-color-light font-primary font-weight-light rs-parallaxlevel-2"
            data-x="center"
            data-y="center" data-voffset="['120','120','120','100']"
            data-start="2100"
            data-fontsize="['30','30','30','27']"
            data-lineheight="['35','35','35','32']"
            data-transform_in="y:[100%];s:500;"
            data-transform_out="y:[100%];s:500;"
            data-mask_in="x:0px;y:0px;">Easier than you think</div>

          <a class="tp-caption btn btn-rounded btn-primary font-weight-semibold text-1"
            href="#aboutus"
            data-hash
            data-hash-offset="75"
            data-x="center"
            data-y="bottom" data-voffset="['105','105','105','105']"
            data-start="1600"
            data-whitespace="nowrap"
            data-fontsize="['13','14','14','14']"
            data-paddingtop="['13','14','14','14']"
            data-paddingbottom="['13','13','13','16']"
            data-paddingleft="['50','50','50','50']"
            data-paddingright="['50','50','50','50']"
            data-basealign="slide"
            data-transform_in="y:[-50%];opacity:0;s:500;"
            data-transform_out="y:[50%];opacity:0;s:500;">GET STARTED NOW</a>

        </li>
      </ul>
    </div>
  </div>
