<div class="body">

	<div role="main" class="main">
      <app-slider></app-slider>
      <app-header></app-header>
     <app-home-about-us></app-home-about-us>
      <app-home-expertise></app-home-expertise>
      <app-work-progress></app-work-progress>
      <app-portfolio></app-portfolio>
      <app-testimonial></app-testimonial>
      <app-home-subscribe></app-home-subscribe>
      <app-home-blog></app-home-blog>
      <app-technologies></app-technologies>
	 </div>
      <app-footer></app-footer>
</div>
