<section id="blog" class="section">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <div class="overflow-hidden">
          <span class="d-block top-sub-title text-color-primary appear-animation" data-appear-animation="maskUp">LATEST NEWS</span>
        </div>
        <div class="overflow-hidden mb-5">
          <h2 class="font-weight-bold mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Our Blog</h2>
        </div>
      </div>
    </div>
    <div class="row mb-5">

      <div class="col-md-4">
        <article class="blog-post">
          <header class="mb-2">
            <div class="image-frame hover-effect-2">
              <a href="blog-single-post.html" class="d-block appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-duration="700ms">
                <img src="../assets/img/blog/posts/post-2-masonry.jpg" class="img-fluid mb-3" alt="" />
              </a>
            </div>
            <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="700ms">
              <h3 class="font-weight-bold text-4 mb-0"><a href="blog-single-post.html" class="link-color-dark">Getting Ready</a></h3>
              <i class="far fa-clock mt-1 text-color-primary"></i>
              <time class="font-tertiary text-1" datetime="2018-01-15">Jan 16, 2018</time>
            </div>
          </header>
          <p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="700ms">Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
        </article>
      </div>

      <div class="col-md-4">
        <article class="blog-post">
          <header class="mb-2">
            <div class="image-frame hover-effect-2">
              <a href="blog-single-post.html" class="d-block appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-duration="700ms">
                <img src="../assets/img/blog/posts/post-3-masonry.jpg" class="img-fluid mb-3" alt="" />
              </a>
            </div>
            <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="700ms">
              <h3 class="font-weight-bold text-4 mb-0"><a href="blog-single-post.html" class="link-color-dark">Cool Hobbies</a></h3>
              <i class="far fa-clock mt-1 text-color-primary"></i>
              <time class="font-tertiary text-1" datetime="2018-01-14">Jan 15, 2018</time>
            </div>
          </header>
          <p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="700ms">Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
        </article>
      </div>

      <div class="col-md-4">
        <article class="blog-post">
          <header class="mb-2">
            <div class="image-frame hover-effect-2">
              <a href="blog-single-post.html" class="d-block appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-duration="700ms">
                <img src="../assets/img/blog/posts/post-4-masonry.jpg" class="img-fluid mb-3" alt="" />
              </a>
            </div>
            <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="700ms">
              <h3 class="font-weight-bold text-4 mb-0"><a href="blog-single-post.html" class="link-color-dark">Work Machines</a></h3>
              <i class="far fa-clock mt-1 text-color-primary"></i>
              <time class="font-tertiary text-1" datetime="2018-01-13">Jan 14, 2018</time>
            </div>
          </header>
          <p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="700ms">Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
        </article>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <a href="blog-cards-4-columns.html" class="btn btn-outline btn-primary btn-h-4 btn-v-3 font-weight-semibold text-0">VIEW BLOG</a>
      </div>
    </div>
  </div>
</section>
